In [ ]:
x=10
while x>5:
  print("test")
  x=x-1

test
test
test
test
test

In [ ]:
x=1
while x<5:
  print("test")
  x=x+1

test
test
test
test

In [ ]:
x=1
while x<5:
  print( "the value of x is",x)
  x=x+1

the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [ ]:
#any variable which is used to print mention it last of the print statement

In [ ]:
x=1
while x<5:
  print(f"the value of x is {x}")
  x=x+1

the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [ ]:
#advantage is postion  variable or multiple variable any where of the f-string

In [ ]:
x=1
y=20
while x<5:
  print(f"the value of {x},{y} of x is")
  x=x+1

the value of 1,20
the value of 2,20
the value of 3,20
the value of 4,20

In [ ]:
#this loop runs until fail

In [ ]:
[1,3,5,7,9]

In [ ]:
x=1
while x<10:
  print(x)
  x=x+2

1
3
5
7
9

In [ ]:
x=1
y=[]
while x<10:
  y.append(x)
  x=x+2
y

[1, 3, 5, 7, 9]

In [ ]:
data
d
da
dat
data

In [ ]:
x="data"
y=1
while y<(len(x)+1):
  print(x[0:y])
  y=y+1

d
da
dat
data

In [ ]:
x=5
i=6
while i>0:
  print("*"*i)
  i=i-1

******
*****
****
***
**
*

In [ ]:
x=5
i=1
while i<6:
  print("*"*i)
  i=i+1

*
**
***
****
*****

In [ ]:
x=[11,22,3,2244,45,61,72,822,91,102]

# while loop add all odd numbers / add all even number

var=0
even_sum=0
odd_sum=0
while var<10:
  if x[var]%2==0:
   even_sum=even_sum+x[var]
  else:
    odd_sum=odd_sum+x[var]
  var=var+1
print(even_sum,odd_sum)

3262 211

In [ ]:
break
continue

In [ ]:
for i in range(0,10):
  print(i)
  if i==5:
    break #it is break the loop

0
1
2
3
4
5

In [ ]:
for i in range(0,10):
  if i==5:
    break
  print(i) #5 will not printing because of print statement after break

0
1
2
3
4

In [ ]:
for i in range(0,10):
  if i==5:
    continue #only that occurence break and move to next one
  print(i,end=',')

0,1,2,3,4,6,7,8,9,

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    if j==2:
      break #break immediate loop ie inner loop not all loop
    print(i,j) #print 5*2=10 element

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    print(i,j) #print 5*3=15 element
    if j==2:
      break #break immediate loop ie inner loop not all loop

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    if j==2:
      continue #only skip 2nd element
    print(i,j) #5*4=20 element we will get

0 0
0 1
0 3
0 4
1 0
1 1
1 3
1 4
2 0
2 1
2 3
2 4
3 0
3 1
3 3
3 4
4 0
4 1
4 3
4 4

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    print(i,j) #print 25 element
    if j==2:
      continue

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [ ]:
for i in "datescience":
  for j in "data":
    if j=="t":
      break
    print([i,j],end=',') #11*2=22 element

['d', 'd'],['d', 'a'],['a', 'd'],['a', 'a'],['t', 'd'],['t', 'a'],['e', 'd'],['e', 'a'],['s', 'd'],['s', 'a'],['c', 'd'],['c', 'a'],['i', 'd'],['i', 'a'],['e', 'd'],['e', 'a'],['n', 'd'],['n', 'a'],['c', 'd'],['c', 'a'],['e', 'd'],['e', 'a'],

In [ ]:
for i in "datescience":
  for j in "data":
    if j=="t":
      break
      print([i,j],end=',') #not getting any output

In [ ]:
for i in "datescience":
  for j in "data":
    if j=="t":
      print([i,j],end=',') #getting 11*1=11 element
      break

['d', 't'],['a', 't'],['t', 't'],['e', 't'],['s', 't'],['c', 't'],['i', 't'],['e', 't'],['n', 't'],['c', 't'],['e', 't'],

In [ ]:
x=10

for i in range(0,10):
  for j in range(0,20,5):
    if i%2==0:
      break
    print(i,j) #5*4=20 element

In [28]:
x=10

for i in range(0,10):
  for j in range(0,21,4):
    print(i,j) #10*1=10 element
    if j%2==0:
      break

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0