In [ ]:
import pandas as pd

# Hardcoded retail dataframe with 20 rows and 10 columns
data = {
    "OrderID": [f"ORD{i}" for i in range(1001, 1021)],
    "Product": [
        "Laptop", "Mobile", "Headphones", "Shoes", "Shirt", "Jeans", "TV", "Fridge", "Watch", "Bag",
        "Shoes", "Mobile", "Laptop", "Watch", "Headphones", "Shirt", "Fridge", "TV", "Jeans", "Bag"
    ],
    "Category": [
        "Electronics", "Electronics", "Electronics", "Fashion", "Fashion", "Fashion",
        "Electronics", "Appliances", "Fashion", "Fashion",
        "Fashion", "Electronics", "Electronics", "Fashion", "Electronics", "Fashion",
        "Appliances", "Electronics", "Fashion", "Fashion"
    ],
    "Quantity": [1, 2, 1, 3, 2, 1, 1, 1, 2, 4, 1, 2, 1, 1, 2, 3, 1, 1, 2, 2],
    "Price": [
        45000, 20000, 1500, 3000, 1200, 2000, 35000, 40000, 5000, 2500,
        2800, 22000, 47000, 7000, 1800, 1300, 42000, 36000, 2100, 2700
    ],
    "Discount": [10, 5, 0, 15, 5, 10, 20, 5, 0, 10, 15, 5, 20, 10, 0, 5, 15, 20, 5, 10],
    "PaymentMethod": [
        "Credit Card", "Debit Card", "Cash", "UPI", "Credit Card", "Cash",
        "Debit Card", "Credit Card", "UPI", "Cash",
        "Credit Card", "Debit Card", "Cash", "UPI", "Credit Card", "Cash",
        "Debit Card", "Credit Card", "UPI", "Cash"
    ],
    "City": [
        "Bangalore", "Mumbai", "Chennai", "Delhi", "Hyderabad", "Pune",
        "Bangalore", "Mumbai", "Chennai", "Delhi",
        "Hyderabad", "Pune", "Bangalore", "Mumbai", "Chennai", "Delhi",
        "Hyderabad", "Pune", "Bangalore", "Mumbai"
    ],
    "CustomerID": [f"CUST{i}" for i in range(1, 21)],
    "OrderDate": [
        "2025-08-01", "2025-08-01", "2025-08-02", "2025-08-02", "2025-08-03",
        "2025-08-03", "2025-08-04", "2025-08-04", "2025-08-05", "2025-08-05",
        "2025-08-06", "2025-08-06", "2025-08-07", "2025-08-07", "2025-08-08",
        "2025-08-08", "2025-08-09", "2025-08-09", "2025-08-10", "2025-08-10"
    ]
}

retail_df = pd.DataFrame(data)

In [ ]:
retail_df.shape

(20, 10)

In [ ]:
retail_df.tail(2)

,OrderID,Product,Category,Quantity,Price,Discount,PaymentMethod,City,CustomerID,OrderDate
18,ORD1019,Jeans,Fashion,2,2100,5,UPI,Bangalore,CUST19,2025-08-10
19,ORD1020,Bag,Fashion,2,2700,10,Cash,Mumbai,CUST20,2025-08-10

In [ ]:
retail_df.head(2)

,OrderID,Product,Category,Quantity,Price,Discount,PaymentMethod,City,CustomerID,OrderDate
0,ORD1001,Laptop,Electronics,1,45000,10,Credit Card,Bangalore,CUST1,2025-08-01
1,ORD1002,Mobile,Electronics,2,20000,5,Debit Card,Mumbai,CUST2,2025-08-01

In [ ]:
retail_df.set_index('OrderID',inplace=True)

In [ ]:
retail_df.reset_index(inplace=True)

In [ ]:
retail_df

,OrderID,Product,Category,Quantity,Price,Discount,PaymentMethod,City,CustomerID,OrderDate
0,ORD1001,Laptop,Electronics,1,45000,10,Credit Card,Bangalore,CUST1,2025-08-01
1,ORD1002,Mobile,Electronics,2,20000,5,Debit Card,Mumbai,CUST2,2025-08-01
2,ORD1003,Headphones,Electronics,1,1500,0,Cash,Chennai,CUST3,2025-08-02
3,ORD1004,Shoes,Fashion,3,3000,15,UPI,Delhi,CUST4,2025-08-02
4,ORD1005,Shirt,Fashion,2,1200,5,Credit Card,Hyderabad,CUST5,2025-08-03
5,ORD1006,Jeans,Fashion,1,2000,10,Cash,Pune,CUST6,2025-08-03
6,ORD1007,TV,Electronics,1,35000,20,Debit Card,Bangalore,CUST7,2025-08-04
7,ORD1008,Fridge,Appliances,1,40000,5,Credit Card,Mumbai,CUST8,2025-08-04
8,ORD1009,Watch,Fashion,2,5000,0,UPI,Chennai,CUST9,2025-08-05
9,ORD1010,Bag,Fashion,4,2500,10,Cash,Delhi,CUST10,2025-08-05
10,ORD1011,Shoes,Fashion,1,2800,15,Credit Card,Hyderabad,CUST11,2025-08-06
11,ORD1012,Mobile,Electronics,2,22000,5,Debit Card,Pune,CUST12,2025-08-06
12,ORD1013,Laptop,Electronics,1,47000,20,Cash,Bangalore,CUST13,2025-08-07
13,ORD1014,Watch,Fashion,1,7000,10,UPI,Mumbai,CUST14,2025-08-07
14,ORD1015,Headphones,Electronics,2,1800,0,Credit Card,Chennai,CUST15,2025-08-08
15,ORD1016,Shirt,Fashion,3,1300,5,Cash,Delhi,CUST16,2025-08-08
16,ORD1017,Fridge,Appliances,1,42000,15,Debit Card,Hyderabad,CUST17,2025-08-09
17,ORD1018,TV,Electronics,1,36000,20,Credit Card,Pune,CUST18,2025-08-09
18,ORD1019,Jeans,Fashion,2,2100,5,UPI,Bangalore,CUST19,2025-08-10
19,ORD1020,Bag,Fashion,2,2700,10,Cash,Mumbai,CUST20,2025-08-10

In [ ]:
retail_df.groupby(['Category','City','PaymentMethod'])['Price'].describe()

                                     count     mean          std      min  \
Category    City      PaymentMethod
Appliances  Hyderabad Debit Card       1.0  42000.0          NaN  42000.0
            Mumbai    Credit Card      1.0  40000.0          NaN  40000.0
Electronics Bangalore Cash             1.0  47000.0          NaN  47000.0
                      Credit Card      1.0  45000.0          NaN  45000.0
                      Debit Card       1.0  35000.0          NaN  35000.0
            Chennai   Cash             1.0   1500.0          NaN   1500.0
                      Credit Card      1.0   1800.0          NaN   1800.0
            Mumbai    Debit Card       1.0  20000.0          NaN  20000.0
            Pune      Credit Card      1.0  36000.0          NaN  36000.0
                      Debit Card       1.0  22000.0          NaN  22000.0
Fashion     Bangalore UPI              1.0   2100.0          NaN   2100.0
            Chennai   UPI              1.0   5000.0          NaN   5000.0
            Delhi     Cash             2.0   1900.0   848.528137   1300.0
                      UPI              1.0   3000.0          NaN   3000.0
            Hyderabad Credit Card      2.0   2000.0  1131.370850   1200.0
            Mumbai    Cash             1.0   2700.0          NaN   2700.0
                      UPI              1.0   7000.0          NaN   7000.0
            Pune      Cash             1.0   2000.0          NaN   2000.0

                                         25%      50%      75%      max
Category    City      PaymentMethod
Appliances  Hyderabad Debit Card     42000.0  42000.0  42000.0  42000.0
            Mumbai    Credit Card    40000.0  40000.0  40000.0  40000.0
Electronics Bangalore Cash           47000.0  47000.0  47000.0  47000.0
                      Credit Card    45000.0  45000.0  45000.0  45000.0
                      Debit Card     35000.0  35000.0  35000.0  35000.0
            Chennai   Cash            1500.0   1500.0   1500.0   1500.0
                      Credit Card     1800.0   1800.0   1800.0   1800.0
            Mumbai    Debit Card     20000.0  20000.0  20000.0  20000.0
            Pune      Credit Card    36000.0  36000.0  36000.0  36000.0
                      Debit Card     22000.0  22000.0  22000.0  22000.0
Fashion     Bangalore UPI             2100.0   2100.0   2100.0   2100.0
            Chennai   UPI             5000.0   5000.0   5000.0   5000.0
            Delhi     Cash            1600.0   1900.0   2200.0   2500.0
                      UPI             3000.0   3000.0   3000.0   3000.0
            Hyderabad Credit Card     1600.0   2000.0   2400.0   2800.0
            Mumbai    Cash            2700.0   2700.0   2700.0   2700.0
                      UPI             7000.0   7000.0   7000.0   7000.0
            Pune      Cash            2000.0   2000.0   2000.0   2000.0

In [ ]:
retail_df.groupby('Category')[['Price','Quantity']].mean()

               Price  Quantity
Category
Appliances   41000.0     1.000
Electronics  26037.5     1.375
Fashion       2960.0     2.100

In [ ]:
retail_df

,OrderID,Product,Category,Quantity,Price,Discount,PaymentMethod,City,CustomerID,OrderDate
0,ORD1001,Laptop,Electronics,1,45000,10,Credit Card,Bangalore,CUST1,2025-08-01
1,ORD1002,Mobile,Electronics,2,20000,5,Debit Card,Mumbai,CUST2,2025-08-01
2,ORD1003,Headphones,Electronics,1,1500,0,Cash,Chennai,CUST3,2025-08-02
3,ORD1004,Shoes,Fashion,3,3000,15,UPI,Delhi,CUST4,2025-08-02
4,ORD1005,Shirt,Fashion,2,1200,5,Credit Card,Hyderabad,CUST5,2025-08-03
5,ORD1006,Jeans,Fashion,1,2000,10,Cash,Pune,CUST6,2025-08-03
6,ORD1007,TV,Electronics,1,35000,20,Debit Card,Bangalore,CUST7,2025-08-04
7,ORD1008,Fridge,Appliances,1,40000,5,Credit Card,Mumbai,CUST8,2025-08-04
8,ORD1009,Watch,Fashion,2,5000,0,UPI,Chennai,CUST9,2025-08-05
9,ORD1010,Bag,Fashion,4,2500,10,Cash,Delhi,CUST10,2025-08-05
10,ORD1011,Shoes,Fashion,1,2800,15,Credit Card,Hyderabad,CUST11,2025-08-06
11,ORD1012,Mobile,Electronics,2,22000,5,Debit Card,Pune,CUST12,2025-08-06
12,ORD1013,Laptop,Electronics,1,47000,20,Cash,Bangalore,CUST13,2025-08-07
13,ORD1014,Watch,Fashion,1,7000,10,UPI,Mumbai,CUST14,2025-08-07
14,ORD1015,Headphones,Electronics,2,1800,0,Credit Card,Chennai,CUST15,2025-08-08
15,ORD1016,Shirt,Fashion,3,1300,5,Cash,Delhi,CUST16,2025-08-08
16,ORD1017,Fridge,Appliances,1,42000,15,Debit Card,Hyderabad,CUST17,2025-08-09
17,ORD1018,TV,Electronics,1,36000,20,Credit Card,Pune,CUST18,2025-08-09
18,ORD1019,Jeans,Fashion,2,2100,5,UPI,Bangalore,CUST19,2025-08-10
19,ORD1020,Bag,Fashion,2,2700,10,Cash,Mumbai,CUST20,2025-08-10

In [ ]:
retail_df['Product'].unique()

array(['Laptop', 'Mobile', 'Headphones', 'Shoes', 'Shirt', 'Jeans', 'TV',
       'Fridge', 'Watch', 'Bag'], dtype=object)

In [ ]:
retail_df['Product'].nunique()

10

In [ ]:
retail_df['product'].value_counts()

KeyError: 'product'

In [ ]:
retail_df['Category'].value_counts()

Category
Fashion        10
Electronics     8
Appliances      2
Name: count, dtype: int64

In [ ]:
retail_df.shape

(20, 10)

In [ ]:
(retail_df['Category'].value_counts()/rows)*100

Category
Fashion        50.0
Electronics    40.0
Appliances     10.0
Name: count, dtype: float64

In [ ]:
rows,columns=retail_df.shape
rows

20

In [ ]:
(retail_df['Category'].value_counts(normalize=True))*100

Category
Fashion        50.0
Electronics    40.0
Appliances     10.0
Name: proportion, dtype: float64

In [ ]:
PaymentMethod

In [ ]:
(retail_df['PaymentMethod'].value_counts(normalize=True))*100

PaymentMethod
Credit Card    30.0
Cash           30.0
Debit Card     20.0
UPI            20.0
Name: proportion, dtype: float64

In [ ]:
retail_df

,OrderID,Product,Category,Quantity,Price,Discount,PaymentMethod,City,CustomerID,OrderDate
0,ORD1001,Laptop,Electronics,1,45000,10,Credit Card,Bangalore,CUST1,2025-08-01
1,ORD1002,Mobile,Electronics,2,20000,5,Debit Card,Mumbai,CUST2,2025-08-01
2,ORD1003,Headphones,Electronics,1,1500,0,Cash,Chennai,CUST3,2025-08-02
3,ORD1004,Shoes,Fashion,3,3000,15,UPI,Delhi,CUST4,2025-08-02
4,ORD1005,Shirt,Fashion,2,1200,5,Credit Card,Hyderabad,CUST5,2025-08-03
5,ORD1006,Jeans,Fashion,1,2000,10,Cash,Pune,CUST6,2025-08-03
6,ORD1007,TV,Electronics,1,35000,20,Debit Card,Bangalore,CUST7,2025-08-04
7,ORD1008,Fridge,Appliances,1,40000,5,Credit Card,Mumbai,CUST8,2025-08-04
8,ORD1009,Watch,Fashion,2,5000,0,UPI,Chennai,CUST9,2025-08-05
9,ORD1010,Bag,Fashion,4,2500,10,Cash,Delhi,CUST10,2025-08-05
10,ORD1011,Shoes,Fashion,1,2800,15,Credit Card,Hyderabad,CUST11,2025-08-06
11,ORD1012,Mobile,Electronics,2,22000,5,Debit Card,Pune,CUST12,2025-08-06
12,ORD1013,Laptop,Electronics,1,47000,20,Cash,Bangalore,CUST13,2025-08-07
13,ORD1014,Watch,Fashion,1,7000,10,UPI,Mumbai,CUST14,2025-08-07
14,ORD1015,Headphones,Electronics,2,1800,0,Credit Card,Chennai,CUST15,2025-08-08
15,ORD1016,Shirt,Fashion,3,1300,5,Cash,Delhi,CUST16,2025-08-08
16,ORD1017,Fridge,Appliances,1,42000,15,Debit Card,Hyderabad,CUST17,2025-08-09
17,ORD1018,TV,Electronics,1,36000,20,Credit Card,Pune,CUST18,2025-08-09
18,ORD1019,Jeans,Fashion,2,2100,5,UPI,Bangalore,CUST19,2025-08-10
19,ORD1020,Bag,Fashion,2,2700,10,Cash,Mumbai,CUST20,2025-08-10

In [ ]:
retail_df.groupby('Category')['Price'].sum()

Category
Appliances      82000
Electronics    208300
Fashion         29600
Name: Price, dtype: int64

In [ ]:
retail_df.groupby('Category')['Price'].count()

Category
Appliances      2
Electronics     8
Fashion        10
Name: Price, dtype: int64

In [ ]:
retail_df.groupby('Category')['Price'].std()

Category
Appliances      1414.213562
Electronics    17812.029442
Fashion         1773.383458
Name: Price, dtype: float64

In [ ]:
retail_df.groupby('Category')['Price'].var()

Category
Appliances     2.000000e+06
Electronics    3.172684e+08
Fashion        3.144889e+06
Name: Price, dtype: float64

In [ ]:
retail_df.groupby('Category')['Price'].min()

Category
Appliances     40000
Electronics     1500
Fashion         1200
Name: Price, dtype: int64

In [ ]:
retail_df.groupby('Category')['Price'].max()

Category
Appliances     42000
Electronics    47000
Fashion         7000
Name: Price, dtype: int64

In [ ]:
retail_df.groupby('Category')['Price'].describe()
#it gives all matrix

,count,mean,std,min,25%,50%,75%,max
Category,,,,,,,,
Appliances,2.0,41000.0,1414.213562,40000.0,40500.0,41000.0,41500.0,42000.0
Electronics,8.0,26037.5,17812.029442,1500.0,15450.0,28500.0,38250.0,47000.0
Fashion,10.0,2960.0,1773.383458,1200.0,2025.0,2600.0,2950.0,7000.0

In [ ]:
retail_df.groupby(['Category','City'])['Price'].describe()

                       count          mean          std      min      25%  \
Category    City
Appliances  Hyderabad    1.0  42000.000000          NaN  42000.0  42000.0
            Mumbai       1.0  40000.000000          NaN  40000.0  40000.0
Electronics Bangalore    3.0  42333.333333  6429.100507  35000.0  40000.0
            Chennai      2.0   1650.000000   212.132034   1500.0   1575.0
            Mumbai       1.0  20000.000000          NaN  20000.0  20000.0
            Pune         2.0  29000.000000  9899.494937  22000.0  25500.0
Fashion     Bangalore    1.0   2100.000000          NaN   2100.0   2100.0
            Chennai      1.0   5000.000000          NaN   5000.0   5000.0
            Delhi        3.0   2266.666667   873.689495   1300.0   1900.0
            Hyderabad    2.0   2000.000000  1131.370850   1200.0   1600.0
            Mumbai       2.0   4850.000000  3040.559159   2700.0   3775.0
            Pune         1.0   2000.000000          NaN   2000.0   2000.0

                           50%      75%      max
Category    City
Appliances  Hyderabad  42000.0  42000.0  42000.0
            Mumbai     40000.0  40000.0  40000.0
Electronics Bangalore  45000.0  46000.0  47000.0
            Chennai     1650.0   1725.0   1800.0
            Mumbai     20000.0  20000.0  20000.0
            Pune       29000.0  32500.0  36000.0
Fashion     Bangalore   2100.0   2100.0   2100.0
            Chennai     5000.0   5000.0   5000.0
            Delhi       2500.0   2750.0   3000.0
            Hyderabad   2000.0   2400.0   2800.0
            Mumbai      4850.0   5925.0   7000.0
            Pune        2000.0   2000.0   2000.0

In [ ]:
retail_df.groupby(['Category','City','PaymentMethod'])['Price'].describe()

                                     count     mean          std      min  \
Category    City      PaymentMethod
Appliances  Hyderabad Debit Card       1.0  42000.0          NaN  42000.0
            Mumbai    Credit Card      1.0  40000.0          NaN  40000.0
Electronics Bangalore Cash             1.0  47000.0          NaN  47000.0
                      Credit Card      1.0  45000.0          NaN  45000.0
                      Debit Card       1.0  35000.0          NaN  35000.0
            Chennai   Cash             1.0   1500.0          NaN   1500.0
                      Credit Card      1.0   1800.0          NaN   1800.0
            Mumbai    Debit Card       1.0  20000.0          NaN  20000.0
            Pune      Credit Card      1.0  36000.0          NaN  36000.0
                      Debit Card       1.0  22000.0          NaN  22000.0
Fashion     Bangalore UPI              1.0   2100.0          NaN   2100.0
            Chennai   UPI              1.0   5000.0          NaN   5000.0
            Delhi     Cash             2.0   1900.0   848.528137   1300.0
                      UPI              1.0   3000.0          NaN   3000.0
            Hyderabad Credit Card      2.0   2000.0  1131.370850   1200.0
            Mumbai    Cash             1.0   2700.0          NaN   2700.0
                      UPI              1.0   7000.0          NaN   7000.0
            Pune      Cash             1.0   2000.0          NaN   2000.0

                                         25%      50%      75%      max
Category    City      PaymentMethod
Appliances  Hyderabad Debit Card     42000.0  42000.0  42000.0  42000.0
            Mumbai    Credit Card    40000.0  40000.0  40000.0  40000.0
Electronics Bangalore Cash           47000.0  47000.0  47000.0  47000.0
                      Credit Card    45000.0  45000.0  45000.0  45000.0
                      Debit Card     35000.0  35000.0  35000.0  35000.0
            Chennai   Cash            1500.0   1500.0   1500.0   1500.0
                      Credit Card     1800.0   1800.0   1800.0   1800.0
            Mumbai    Debit Card     20000.0  20000.0  20000.0  20000.0
            Pune      Credit Card    36000.0  36000.0  36000.0  36000.0
                      Debit Card     22000.0  22000.0  22000.0  22000.0
Fashion     Bangalore UPI             2100.0   2100.0   2100.0   2100.0
            Chennai   UPI             5000.0   5000.0   5000.0   5000.0
            Delhi     Cash            1600.0   1900.0   2200.0   2500.0
                      UPI             3000.0   3000.0   3000.0   3000.0
            Hyderabad Credit Card     1600.0   2000.0   2400.0   2800.0
            Mumbai    Cash            2700.0   2700.0   2700.0   2700.0
                      UPI             7000.0   7000.0   7000.0   7000.0
            Pune      Cash            2000.0   2000.0   2000.0   2000.0

In [ ]:
retail_df.groupby('Category')[['Price','Quantity']].sum()

              Price  Quantity
Category
Appliances    82000         2
Electronics  208300        11
Fashion       29600        21

In [5]:
import pandas as pd
df=pd.read_excel("/content/Source Sales Data.xls")
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
df.groupby("Region",'Category')['Sales'].count()

ValueError: No axis named Category for object type DataFrame

In [ ]:
retail_df.groupby('category')['price'].sum

KeyError: 'category'

In [7]:
retail_df.groupby('category')[['price','quantity']].sum

NameError: name 'retail_df' is not defined

In [8]:
retail_df.reset_index(inplace=true)

NameError: name 'retail_df' is not defined

In [9]:
retail_df.groupby('category')['price'].describe()

NameError: name 'retail_df' is not defined

In [ ]:
df.groupby(["Region",'Category'])[['Sales','Profit']].sum()

In [ ]:
retail_df.columns

In [ ]:
pd.crosstab(retail_df['Product'],retail_df['Category'],values=retail_df['Price'],aggfunc="count")

In [10]:
import numpy as np

# Descriptive Statistics
print("Mean:\n", retail_df[["Price", "Quantity", "Discount"]].mean())
print("\nMedian:\n", retail_df[["Price", "Quantity", "Discount"]].median())
print("\nMode:\n", retail_df[["Price", "Quantity", "Discount"]].mode().iloc[0])
print("\nStandard Deviation:\n", retail_df[["Price", "Quantity", "Discount"]].std())
print("\nVariance:\n", retail_df[["Price", "Quantity", "Discount"]].var())
print("\nMin:\n", retail_df[["Price", "Quantity", "Discount"]].min())
print("\nMax:\n", retail_df[["Price", "Quantity", "Discount"]].max())
print("\nQuantiles:\n", retail_df[["Price", "Quantity", "Discount"]].quantile([0.25, 0.5, 0.75]))
print("\nDescribe():\n", retail_df[["Price", "Quantity", "Discount"]].describe())

# Trigonometric Functions (on Quantity column)
print("\nSin:\n", np.sin(retail_df["Quantity"]))
print("\nCos:\n", np.cos(retail_df["Quantity"]))
print("\nTan:\n", np.tan(retail_df["Quantity"]))

# Logarithmic & Exponential Functions (on Price column)
print("\nNatural Log (ln):\n", np.log(retail_df["Price"]))
print("\nLog base 10:\n", np.log10(retail_df["Price"]))
print("\nLog base 2:\n", np.log2(retail_df["Price"]))
print("\nExponential (e^x for Quantity):\n", np.exp(retail_df["Quantity"]))

NameError: name 'retail_df' is not defined

In [11]:
# === Trigonometric Functions (on Quantity column) ===
print("\nSin:\n", retail_df["Quantity"].apply("sin"))
print("\nCos:\n", retail_df["Quantity"].apply("cos"))
print("\nTan:\n", retail_df["Quantity"].apply("tan"))

# === Logarithmic & Exponential Functions (on Price column) ===
print("\nNatural Log (ln):\n", retail_df["Price"].apply("log"))
print("\nLog base 10:\n", retail_df["Price"].apply("log10"))
print("\nLog base 2:\n", retail_df["Price"].apply("log2"))
print("\nExponential (e^x for Quantity):\n", retail_df["Quantity"].apply("exp"))

NameError: name 'retail_df' is not defined

In [ ]:
retail_df['Category'].head()

0    Electronics
1    Electronics
2    Electronics
3        Fashion
4        Fashion
Name: Category, dtype: object

In [12]:
pd.get_dummies(retail_df['Category'])+0

NameError: name 'retail_df' is not defined

In [ ]:
retail_df['Price'].head()

In [ ]:
pd.cut(retail_df['Price'],bins=[0,10000,20000,50000],labels=['low','medium','high'])

In [ ]:
pd.qcut(retail_df['Price'],q=4,labels=['q1','q2','q3','q4'])

In [ ]:
retail_df.columns

In [ ]:
retail_df['Price'].rank(method='dense',ascending=False)